#__ .modal{
    display:flex;
	flex-direction: column;
    margin:auto;
	border:1px solid #555;
	pointer-events:auto;
}
#__ .modal.inactive {
	opacity: 0;
	border-color:#aaa;
}
#__ .modal.fullpage{
	height:100%;
}
#__ .modal.bigframe{
    padding:3rem;
}
